<style>
  .message-content{
    font-family: Arial, Helvetica, sans-seriff;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}!</p>
  <br />
  <p>Recebemos uma solicitação de redefinição de senha para redefinição.</p>
  <p>Se realmente foi você, clique no link abaixo para redefinir a senha: </p>
  <p>
    <a href="{{link}}"> Resetar minha senha</a>
  </p>
  <p>Caso não tenha sido você, desconsidere este e-mail.</p>
  <br/>
  <p>Obrigado!</p>
  <p>Epique API Vendas</p>
</div>
